# version: '3.8'

services:
  mysql:
    build:
    #context - where dockerfile is relative to the docker-compose.yml file
      context: .
      dockerfile: Dockerfile.mysql
    container_name: moviesdb_mysql
    command: --local-infile=1
    ports:
      - "3306:3306"
    restart: always
    env_file:
      - ../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ../data/tests:/var/lib/mysql-files
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
